*
  font-size: 1em
  font-family: Roboto, Arial, sans-serif
p,h1,h2,h3,h4,h5,h6
  font-size: 1em
h4
  margin: 1em 0 .5em
p
  color: #222222
  line-height: 1.4
  margin: 0 0 .5em
a
  color: inherit
body, html
  height: 100%
  margin: 0
header
  position: relative
  pointer-events: none
main
  height: 85%
  min-height: 480px
  .content-wrap
    position: relative
    height: 100%
footer
  //position: absolute
  width: 100%
  z-index: 1
  margin: 3em 0
  color: #c5c5c5
  font-size: .8em
  border-top: 1px solid #ababab
  padding: 2em 0
  //bottom: 0
  img
    display: inline-block
    margin-right: 30px
    &.nsf
      clear: left
      height: 80px
      float: left
    &.rdcep
      height: 80px
      float: left
  p
    float: left
    color: #ababab
    margin-right: 30px
    &.nsf
      width: 300px
      margin-top: 25px

.wrap
  width: 1200px
  margin: 0 auto
  img
    //width: 100%
    display: block
.content-wrap
  width: 1200px
  margin: 0 auto
.bkgd
  background-color: white
  opacity: .8
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
.title
  //section
  //  float: left
  &.container
    position: relative
    width: 100%
    padding-top: 1em
    &+.container
      margin: 0 0 0 100px
      padding: 0 0 0 1em
      section
        margin: 0 0 .33em 0

    .bkgd
      opacity: .5
      z-index: 905
    .shim
      padding: 1em 1em .5em
    .site-title
      font-size: 2.4em
      line-height: 1em
      z-index: 905
      position: relative
      margin-left: 100px
      h1
        position: relative
        margin: 0
    .site-logo
      width: 4rem
      position: absolute
      padding-right: 5px
      right: 100%
      top: 0
      //bottom: -8px
      z-index: 905
      a
        position: relative
        z-index: 905
      img
        width: 100%
        //top: 5px
    .graph-title
      position: absolute
      line-height: 1em
      bottom: 0
      z-index: 905
      font-size: .5em
      padding-left: 2em
      span+span
        position: absolute
        bottom: 1em
        display: block
        left: 100%
        padding-left: .25em
        width: 300px
      span+span+span
        position: absolute
        bottom: 0
    .site-links
      font-size: 1rem
      .about-contact
        pointer-events: auto
    .citation
      font-size: 1rem
      margin-right: 2em
      a
        pointer-events: auto


    #asset-totals
      font-size: 2.4em
      width: 10%
      z-index: 905
      font-weight: bold

    #builder-headline
      font-size: 1em
      width: 100%

.map
  &.wrapper
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 800
  &.builder
    position: absolute
    width: 100%
    height: 100%
  &.layer
    position: absolute
    height: 100%
    width: 100%
    //pointer-events: none
    &.base-map
      //pointer-events: all

.window
  &.main
    position: absolute
  &.menu
    cursor: move
    padding: .5em 1em
    border: 1px solid #cccccc
    border-bottom-width: 0
    .toggle
      position: absolute
      right: 1.414em
      top: 1.25em
      border: solid black
      border-width: 0 .1em .1em 0
      display: inline-block
      padding: .33em
      cursor: pointer!important
      z-index: 10
      &.close
        transform: rotate(-135deg)
        -webkit-transform: rotate(-135deg)
      &.open
        top: 1em
        transform: rotate(45deg)
        -webkit-transform: rotate(45deg)
    .canvas
      position: absolute
      top: 100%
      left: -1px
      right: -1px
      min-height: 0px
      border: 1px solid #cccccc
      border-top-width: 0
      &.closed
        height: 0
        overflow: hidden
  h6
    position: relative
    padding: .25em 0
    margin: 0
    border-top: 2px solid black
    border-bottom: 1px solid black

.options.main
  width: 100%
  z-index: 900
  &.menu
    position: absolute
    top: 60%
    right: -1em
    padding-bottom: 0
  .canvas
    padding: 0 1em .5em
  .bkgd
    opacity: .6
  h6
    border-bottom: none
  .options
    .column
      width: 24.25%
      float: left
      position: relative
      z-index: 2
      &+.column
        margin: 0 0 0 1%
      h4
        padding: .5em 0
        margin: 0
        border-top: 2px solid black
        border-bottom: 1px solid black
  label
    display: block
    border-bottom: 1px solid black
    padding: .33em 0
    &.inactive
      color: #767676
    .asset-value
      font-size: .8em
    input
      position: absolute
      right: 2px

.legend
  &.main
    width: 260px
    z-index: 901
  &.menu
    z-index: 1
    h6
      position: relative
      padding: .25em 0
      margin: 0
      z-index: 2
      border-top: 2px solid black
      border-bottom: 1px solid black
    .tmpcanvas
      display: none
  canvas
    position: relative
    z-index: 2

.base-map
  z-index: 0
.zoom-target
  width: 100vw
  height: 100vh
.layer
  fill: none
.canvas
  &.gas-well
    position: relative
    top: 0
  &.fossil-fuel-plant
    position: absolute
    top: 0
.master-legend
  width: auto!important
#browser-notice
  font-style: italic
  margin-top: 20px
#spinner
  position: absolute
  display: none
  width: 200px
  height: 200px
  left: 50%
  top: 30%
  margin-left: -100px
  z-index: 1000
.boundary
  &.ocean
    fill: white
  &.land
    fill: #eeeeee
.feature
  &.pipe
    stroke-width: .5
    fill: none
    &.oil
      stroke: #222222
    &.gas
      stroke: cornflowerblue
  &.dot
    stroke: none
    fill: #000000
    &.plant
      fill: #cccccc
.modal-screen
  display: none
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-color: black
  opacity: .8
  z-index: 990
.modal-window
  display: none
  background-color: white
  border: #767676
  border-radius: 3px
  position: absolute
  top: 120px
  margin: 0 200px
  padding: 40px 60px
  width: 680px
  z-index: 999
  .modal-close
    position: absolute
    top: 20px
    right: 30px
    font-size: .8em
    font-weight: bold
    color: #767676
.cf
  &:before, &:after
    content: ' '
    display: table
  &:after
    clear: both
