* {
  font-size: 1em;
  font-family: Roboto, Arial, sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

h4 {
  margin: 1em 0 0.5em;
}

p {
  color: #222222;
  line-height: 1.4;
  margin: 0 0 0.5em;
}

a {
  color: inherit;
}

body, html {
  height: 100%;
  margin: 0;
}

header {
  position: absolute;
  top: 0;
  pointer-events: none;
}

main .content-wrap {
  position: relative;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  color: #c5c5c5;
  font-size: 0.8em;
  padding: 1em 0 1.5em;
}
footer img {
  display: inline-block;
  margin-right: 30px;
}
footer img.nsf {
  clear: left;
  height: 40px;
  float: left;
}
footer img.rdcep {
  height: 40px;
  float: left;
}
footer p {
  float: left;
  color: #ababab;
  margin-right: 30px;
}
footer p.nsf {
  width: 300px;
  margin-top: 5px;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}
.wrap img {
  display: block;
}

.content-wrap {
  width: 1200px;
  margin: 0 auto;
}

.bkgd {
  background-color: white;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

.title.container {
  position: relative;
  width: 100%;
}
.title.container + .container {
  margin: 0 0 0 100px;
  padding: 0 0 0 1em;
}
.title.container + .container section {
  margin: 0 0 0.33em 0;
}
.title.container .bkgd {
  opacity: 0.5;
  z-index: 905;
}
.title.container .shim {
  padding: 1em 1em 0.5em;
}
.title.container .site-title {
  font-size: 2em;
  line-height: 1em;
  z-index: 905;
  position: relative;
  margin-left: 100px;
}
.title.container .site-title .span-title {
  color: #000000;
}
.title.container .site-title .page-title {
  color: #800000;
}
.title.container .site-title h1 {
  position: relative;
  margin: 0;
}
.title.container .site-logo {
  width: 5rem;
  position: absolute;
  padding-right: 10px;
  right: 100%;
  top: 0;
  z-index: 905;
}
.title.container .site-logo a {
  position: relative;
  z-index: 905;
}
.title.container .site-logo img {
  width: 90%;
}
.title.container .graph-title {
  position: absolute;
  line-height: 1em;
  bottom: 0;
  z-index: 905;
  font-size: 0.5em;
  padding-left: 2em;
}
.title.container .graph-title span + span {
  position: absolute;
  bottom: 1em;
  display: block;
  left: 100%;
  padding-left: 0.25em;
  width: 300px;
}
.title.container .graph-title span + span + span {
  position: absolute;
  bottom: 0;
}
.title.container .site-links {
  font-size: 1rem;
}
.title.container .site-links .about-contact {
  pointer-events: auto;
}
.title.container .citation {
  font-size: 1rem;
  margin-right: 2em;
}
.title.container .citation em {
  font-style: normal;
}
.title.container .citation a {
  pointer-events: auto;
}
.title.container #asset-totals {
  font-size: 2.4em;
  width: 10%;
  z-index: 905;
  font-weight: bold;
}
.title.container #builder-headline {
  font-size: 1em;
  width: 100%;
}

.window.main {
  position: absolute;
}
.window.menu {
  cursor: move;
  padding: 0.5em 1em;
  border: 1px solid #cccccc;
  border-bottom-width: 0;
}
.window.menu .toggle {
  position: absolute;
  right: 1.414em;
  top: 1.25em;
  border: solid black;
  border-width: 0 0.1em 0.1em 0;
  display: inline-block;
  padding: 0.33em;
  cursor: pointer !important;
  z-index: 10;
}
.window.menu .toggle.close {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.window.menu .toggle.open {
  top: 1em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.window.menu .canvas {
  cursor: auto;
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  min-height: 0px;
  border: 1px solid #cccccc;
  border-top-width: 0;
}
.window.menu .canvas.closed {
  height: 0;
  overflow: hidden;
}
.window h6 {
  position: relative;
  padding: 0.25em 0;
  margin: 0;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}

.options.main h6 {
  border-bottom: none;
}
.options.main .options .column {
  z-index: 2;
}
.options.main .options .column + .column {
  margin: 0 0 0 1%;
}
.options.main .options .column h4 {
  padding: 0.5em 0;
  margin: 0;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}
.options.main .options .column div + div h4 {
  border-top: 1px solid black;
}
.options.main .options .asterisk-note {
  color: grey;
}
.options.main .options .asterisk-note h4 {
  border-top: 1px solid grey;
  border-bottom: none;
  margin-top: 9em;
  font-size: smaller;
}
.options.main label {
  display: flex;
  padding: 0.33em 0;
  font-size: 0.75rem;
  line-height: 1em;
}
.options.main label.inactive {
  color: #767676;
}
.options.main label .option-title {
  flex-basis: content;
}
.options.main label .asset-value {
  font-size: 0.8em;
  line-height: 1.25em;
  flex-basis: content;
}
.options.main label .leader {
  flex-basis: content;
  flex-grow: 1;
  border-bottom: 1px solid black;
  margin: 0 0.5em;
}
.options.main label input {
  flex-basis: content;
}
.options.main .zoom-buttons {
  position: absolute;
  margin-right: 0.5em;
  right: 100%;
  top: 0;
  width: 2em;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  border: 1px solid #cccccc;
}
.options.main .zoom-buttons .zoom-in, .options.main .zoom-buttons .zoom-out {
  cursor: pointer;
  z-index: 910;
  position: relative;
  padding: 0.5em;
  display: block;
}
.options.main .zoom-buttons .zoom-in:hover, .options.main .zoom-buttons .zoom-out:hover {
  background-color: #d6d6d6;
}

.legend.main {
  width: 260px;
  z-index: 901;
}
.legend.menu {
  z-index: 1;
}
.legend.menu h6 {
  position: relative;
  padding: 0.25em 0;
  margin: 0;
  z-index: 2;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}
.legend.menu .tmpcanvas {
  display: none;
}
.legend canvas {
  position: relative;
  z-index: 2;
}

.map.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 800;
}
.map.builder {
  position: absolute;
  width: 100%;
  height: 100%;
}
.map.layer {
  position: absolute;
  height: 100%;
  width: 100%;
}
.base-map {
  z-index: 0;
}

.zoom-target {
  width: 100vw;
  height: 100vh;
}

.layer {
  fill: none;
}

.canvas.gas-well {
  position: relative;
  top: 0;
}
.canvas.fossil-fuel-plant {
  position: absolute;
  top: 0;
}

.master-legend {
  width: auto !important;
}

#browser-notice {
  font-style: italic;
  margin-top: 20px;
}

#spinner {
  position: absolute;
  display: none;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 30%;
  margin-left: -100px;
  z-index: 1000;
}

.boundary.ocean {
  fill: white;
}
.boundary.land {
  fill: #eeeeee;
}

.feature.pipe {
  stroke-width: 0.5;
  fill: none;
}
.feature.pipe.oil {
  stroke: #222222;
}
.feature.pipe.gas {
  stroke: cornflowerblue;
}
.feature.dot {
  stroke: none;
  fill: #000000;
}
.feature.dot.plant {
  fill: #cccccc;
}

.modal-screen {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  z-index: 990;
}

.modal-window {
  display: none;
  background-color: white;
  border: #767676;
  border-radius: 3px;
  position: absolute;
  top: 120px;
  margin: 0 200px;
  padding: 40px 60px;
  width: 680px;
  z-index: 999;
}
.modal-window .modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 0.8em;
  font-weight: bold;
  color: #767676;
}

/*# sourceMappingURL=main.v0.css.map */
