* {
  font-size: 1em;
  font-family: Roboto, Arial, sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

h4 {
  margin: 1em 0 0.5em;
}

p {
  color: #222222;
  line-height: 1.4;
  margin: 0 0 0.5em;
}

a {
  color: inherit;
}

body, html {
  height: 100%;
}

header {
  position: relative;
  z-index: 2;
  pointer-events: none;
}

main {
  height: 85%;
  min-height: 480px;
}
main .content-wrap {
  position: relative;
  height: 100%;
}

footer {
  position: relative;
  z-index: 2;
  margin: 3em 0 6em;
  color: #c5c5c5;
  font-size: 0.8em;
  border-top: 1px solid #ababab;
  padding: 30px 0 60px;
}
footer img {
  display: inline-block;
  margin-right: 30px;
}
footer img.nsf {
  clear: left;
  height: 80px;
  float: left;
}
footer img.rdcep {
  height: 80px;
  float: left;
}
footer p {
  float: left;
  color: #ababab;
  margin-right: 30px;
}
footer p.nsf {
  width: 300px;
  margin-top: 25px;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}
.wrap img {
  display: block;
}

.content-wrap {
  width: 1200px;
  margin: 0 auto;
}

.title.container {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 5px 0;
  border-bottom: 2px solid #b2b2b2;
}
.title.container + .container {
  border-bottom: 1px solid #b2b2b2;
}
.title.container + .container + .container {
  height: 25px;
}
.title.container section {
  float: left;
  display: block;
  position: relative;
  height: 100%;
}
.title.container section:first-child {
  font-size: 2em;
}
.title.container section span {
  position: absolute;
  bottom: 0;
}
.title.container .site-title {
  width: 65%;
}
.title.container .site-links {
  width: 20%;
}
.title.container .logo {
  width: 10%;
}
.title.container .logo img {
  height: 40px;
  position: relative;
  top: 5px;
}
.title.container .graph-title {
  width: 15%;
}
.title.container .asset-total {
  width: 10%;
}
.title.container .citation {
  width: 30%;
}
.title.container .affiliation {
  width: 30%;
}
.title.container #asset-totals {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.title.container #builder-headline {
  font-size: 1em;
  width: 100%;
}

.options-outer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 5;
}
.options-outer .bkgd {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0.6;
  z-index: 1;
}
.options-outer .options {
  margin: 1em 1%;
}
.options-outer .options .column {
  width: 24.25%;
  float: left;
  position: relative;
  z-index: 2;
}
.options-outer .options .column + .column {
  margin: 0 0 0 1%;
}
.options-outer .options .column h4 {
  padding: 0.5em 0;
  margin: 0;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}
.options-outer label {
  display: block;
  border-bottom: 1px solid black;
  padding: 0.33em 0;
}
.options-outer label.inactive {
  color: #767676;
}
.options-outer label .asset-value {
  font-size: 0.8em;
}
.options-outer label input {
  position: absolute;
  right: 2px;
}

.map.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.map.builder {
  position: absolute;
  width: 100%;
  height: 100%;
}
.map.layer {
  position: absolute;
  height: 100%;
  width: 100%;
}
.legend.main {
  position: absolute;
  width: 100px;
}
.legend.menu {
  cursor: move;
  padding: 0.5em 1em;
  border: 1px solid #cccccc;
  border-bottom-width: 0;
}
.legend.menu .toggle {
  position: absolute;
  right: 1.414em;
  top: 1.25em;
  border: solid black;
  border-width: 0 0.1em 0.1em 0;
  display: inline-block;
  padding: 0.33em;
}
.legend.menu .toggle.close {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.legend.menu .toggle.open {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.legend.menu h6 {
  position: relative;
  padding: 0.25em 0;
  margin: 0;
  z-index: 2;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}
.legend.menu .canvas {
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  min-height: 100px;
  border: 1px solid #cccccc;
  border-top-width: 0;
}
.legend.menu .bkgd {
  background-color: white;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.base-map {
  z-index: 0;
}

.zoom-target {
  width: 100vw;
  height: 100vh;
}

.layer {
  fill: none;
}

.canvas.gas-well {
  position: relative;
  top: 0;
}
.canvas.fossil-fuel-plant {
  position: absolute;
  top: 0;
}

.master-legend {
  width: auto !important;
}

#browser-notice {
  font-style: italic;
  margin-top: 20px;
}

#spinner {
  position: absolute;
  display: none;
  width: 200px;
  height: 200px;
  margin: 200px 0 0 375px;
  z-index: 1000;
}

.boundary.ocean {
  fill: white;
}
.boundary.land {
  fill: #eeeeee;
}

.feature.pipe {
  stroke-width: 0.5;
  fill: none;
}
.feature.pipe.oil {
  stroke: #222222;
}
.feature.pipe.gas {
  stroke: cornflowerblue;
}
.feature.dot {
  stroke: none;
  fill: #000000;
}
.feature.dot.plant {
  fill: #cccccc;
}

.modal-screen {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  z-index: 990;
}

.modal-window {
  display: none;
  background-color: white;
  border: #767676;
  border-radius: 3px;
  position: absolute;
  top: 120px;
  margin: 0 200px;
  padding: 40px 60px;
  width: 680px;
  z-index: 999;
}
.modal-window .modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 0.8em;
  font-weight: bold;
  color: #767676;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

/*# sourceMappingURL=main.v0.css.map */
