@import "vars"

.main-header
  background-color: $darkblue
  color: $white
  position: relative
  width: 50rem
  //left: 0
  //top: 1em
  display: inline-block
  margin: 1rem 0 0 0
  padding: 1rem 3rem 1rem 2rem
  z-index: 999
  .logo-wrap
    display: inline-block
    height: 4rem
    width: 4rem
    margin-right: 2rem
    border-radius: 2rem
    background-color: $white
    .flex-shim
      display: flex
      height: 100%
      width: 100%
      justify-content: center
      align-items: center
      img
        height: 3.5rem
        width: 3.5rem
  h1, h2
    line-height: 1.25em
    display: inline-block
    color: $white
    margin: 0
    font-weight: bold
  h1
    font-size: 1.5rem
    padding: 0 3rem 0 0
  h2
    font-size: 1rem
    span
      display: inline-block
    .asset-total
      font-size: 3.5rem
      padding: 0 2rem 0 0
    .asset-total-tag
      font-weight: normal
      padding: 0 2rem 0 0

