* {
  font-size: 1em;
  font-family: Arial, sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

h4 {
  margin: 1em 0 0.5em;
}

p {
  color: #222222;
  line-height: 1.4;
  margin: 0 0 0.5em;
}

a {
  color: inherit;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}
.wrap img {
  display: block;
}

label {
  padding-right: 1%;
  font-family: "Roboto", sans-serif;
}

.options {
  width: 100%;
}
.options .column {
  width: 23%;
  float: left;
  position: relative;
}
.options .column + .column {
  margin: 0 0 0 0.5em;
}
.options .column h4 {
  padding: 0.5em 0;
  margin: 0;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}
.options label {
  display: block;
  border-bottom: 1px solid black;
  padding: 0.33em 0;
}
.options label.inactive {
  color: #767676;
}
.options label .asset-value {
  font-size: 0.8em;
}
.options label input {
  position: absolute;
  right: 2px;
}

.wrapper {
  position: relative;
}

.layer {
  fill: none;
}
.layer.map {
  position: absolute;
  top: 0;
}

.canvas.gas-well {
  position: relative;
  top: 0;
}
.canvas.fossil-fuel-plant {
  position: absolute;
  top: 0;
}

.master-legend {
  width: auto !important;
}

#asset-totals {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  padding: 0.5em 0;
}
#asset-totals p {
  position: relative;
  left: 25%;
}

#browser-notice {
  font-style: italic;
  margin-top: 20px;
}

#builder-headline {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  margin: 1em 0 0.5em;
}

#spinner {
  position: absolute;
  display: none;
  width: 200px;
  height: 200px;
  margin: 200px 0 0 375px;
  z-index: 1000;
}

.title.container {
  border-top: 2px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  position: relative;
  width: 1200px;
  height: 50px;
}
.title.container img {
  height: 40px;
  position: relative;
  top: 5px;
}
.title.container.nav {
  border: none;
  padding: 1% 0 0 70%;
  height: 25px;
}
.title.container.nav a {
  padding-right: 2em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.2em;
  top: 0;
  color: black;
}
.title.container.nav span {
  position: absolute;
  left: 0;
  color: #800000;
  font-size: 25px;
  bottom: 2px;
}
.title .builder-link {
  position: absolute;
  left: 130px;
  top: 8px;
}
.title .headline {
  position: absolute;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2em;
  top: 0;
  left: 25%;
  padding: 0.5em 0;
}
.title .headline2 {
  color: #b2b2b2;
  left: 35%;
  padding: 8px 0;
  font-size: 0.9rem;
}
.title .headline3 {
  color: #b2b2b2;
  left: 70%;
  padding: 8px 0;
  font-size: 0.9rem;
}

.boundary.ocean {
  fill: white;
}
.boundary.land {
  fill: #eeeeee;
}

.feature.pipe {
  stroke-width: 0.5;
  fill: none;
}
.feature.pipe.oil {
  stroke: #222222;
}
.feature.pipe.gas {
  stroke: cornflowerblue;
}
.feature.dot {
  stroke: none;
  fill: #000000;
}
.feature.dot.plant {
  fill: #cccccc;
}

footer {
  margin: 3em 0 6em;
  color: #c5c5c5;
  font-size: 0.8em;
  border-top: 1px solid #ababab;
  padding: 30px 0 60px;
}
footer img {
  display: inline-block;
  margin-right: 30px;
}
footer img.nsf {
  clear: left;
  height: 80px;
  float: left;
}
footer img.rdcep {
  height: 80px;
  float: left;
}
footer p {
  float: left;
  color: #ababab;
  margin-right: 30px;
}
footer p.nsf {
  width: 300px;
  margin-top: 25px;
}

.modal-screen {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
}

.modal-window {
  display: none;
  background-color: white;
  border: #767676;
  border-radius: 3px;
  position: absolute;
  top: 120px;
  margin: 0 200px;
  padding: 40px 60px;
  width: 680px;
}
.modal-window .modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 0.8em;
  font-weight: bold;
  color: #767676;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

/*# sourceMappingURL=main.v0.css.map */
