
*
  font-size: 1em
  font-family: Arial, sans-serif
p,h1,h2,h3,h4,h5,h6
  font-size: 1em
.wrap
  width: 80%
  margin: 0 auto
  img
    width: 100%
    display: block
.layer
  fill: none
.boundary
  &.ocean
    fill: white
  &.land
    fill: #eeeeee
.feature
  &.pipe
    stroke-width: .5
    fill: none
    &.oil
      stroke: #222222
    &.gas
      stroke: cornflowerblue
  &.dot
    stroke: none
    fill: #000000
    &.plant
      fill: #cccccc
