@import "vars"

.options
  &.main
    position: absolute
    top: 0
    bottom: 0
    left: 0
    padding: 6.75rem 4rem 2rem 3rem
    width: 13rem
    background-color: $white
    border-right: 2px solid $darkblue

