$darkblue: #024964
$white: #ffffff
$light_grey: #E7EFF2
$dark_grey: #BCBCBC
$black: #000000
$sea_blue: #e7eff2

$dark_background: $darkblue
$light_foreground: $white
$light_background: $white
$dark_foreground: $black

$options_width: 20rem
$options_left: 2rem
$options_right: 3.5rem
