<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content=True name=HandheldFriendly />
  <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" name=viewport />
  <title>RDCEP: US energy infrastructure</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/css/uikit.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  {% assets 'css_main' %}
    <link rel=stylesheet href={{ ASSET_URL }}>
  {% endassets %}
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit-icons.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31803228-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-31803228-5');
  </script>

</head>
<body>
{% block body %}
  <div class=main-wrap>
    <header class=main-header>
    {% block header %}
    {% endblock %}
    </header>
    <main>
    {% block main %}
    {% endblock %}
    </main>
    <footer>
    </footer>
  </div>
  {% block bodyjs %}
  {% endblock %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "theme": "classic",
  "content": {
    "message": "This website uses cookies to track visits to the page. This helps us understand the importance and impact of the research and tools that we have created."
  }
});
</script>
</body>
</html>