<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RDCEP: US energy infrastructure</title>
  {% assets 'css_main' %}
    <link rel=stylesheet href={{ ASSET_URL }}>
  {% endassets %}
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">  
</head>
<body>
<div class=wrap>
{% block body %}
  <header>
  {% block header %}
  <div class="title container">
    <section class="builder-link">
      <a href="/builder">Custom Map <br> Builder</a>
    </section>
    <a href="/"><img src="../static/images/logo.png" alt="Logo for RDCEP" style="width: 93px; height: 40px;"></a>
    <section class="headline">
      <a href=http://geosci.uchicago.edu/~moyer/Inventory/>
        <i>A Physical Inventory <br>of the U.S. Energy System</i>
      </a>
    </section>
    <section class="headline headline2">
      Chen, Weisbach, Matteson, <br>
      Brizius, Moyer, 2019
    </section>
    <section class="headline headline3">
      University of Chicago. Center for Robust <br>
      Decision-making on Climate and Energy Policy.
    </section>
  </div>
  {% endblock %}
  </header>
  <main>
  {% block main %}
  {% endblock %}
  </main>
  <footer class=cf>
  {% block footer %}
  {% endblock %}
    <img src=/static/images/nsf.png class="nsf" alt='NSF logo'/>
    <p class=nsf>Funded under NSF Decision Making Under Uncertainty Program.
      Award No. 0951576</p>
    <img src=/static/images/rdcep.png class="rdcep" alt='RDCEP logo'/>

  </footer>
  {% block bodyjs %}
  {% endblock %}
{% endblock %}
</div>
</body>
</html>