<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RDCEP: US energy infrastructure</title>
  {% assets 'css_main' %}
    <link rel=stylesheet href={{ ASSET_URL }}>
  {% endassets %}
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">  
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
</head>
<body>
<div class=wrap>
{% block body %}
  <header>
  {% block header %}
  <div class="title container">
    <section class="builder-link">
      <a href="/builder">Custom Map <br> Builder</a>
    </section>
    <a href="/"><img src="../static/images/logo.png" alt="Logo for RDCEP" style="width: 93px; height: 40px;"></a>
    <section class="headline">
      <a href=http://geosci.uchicago.edu/~moyer/Inventory/>
        <i>A Physical Inventory <br>of the U.S. Energy System</i>
      </a>
    </section>
    <section class="headline headline2">
      Chen, Weisbach, Matteson, <br>
      Brizius, Moyer, 2019
    </section>
    <section class="headline headline3">
      University of Chicago. Center for Robust <br>
      Decision-making on Climate and Energy Policy.
    </section>
  </div>
  {% endblock %}
  </header>
  <main>
  {% block main %}
  {% endblock %}
  </main>
  <footer class=cf>
  {% block footer %}
  {% endblock %}
    <img src=/static/images/nsf.png class="nsf" alt='NSF logo'/>
    <p class=nsf>Funded under NSF Decision Making Under Uncertainty Program.
      Award No. 0951576</p>
    <img src=/static/images/rdcep.png class="rdcep" alt='RDCEP logo'/>

  </footer>
  {% block bodyjs %}
  {% endblock %}
{% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "theme": "classic",
  "content": {
    "message": "This website uses cookies to track visits to the page. This helps us understand the importance and impact of the research and tools that we have created."
  }
});
</script>
</body>
</html>