{% extends 'base.html' %}
{% block header %}
<div class="title container nav headline">
  <span id="span-title">US Energy Infrastructure Visualization</span>
  <a class=about-contact href="#">About / Contact / License</a>
</div>

<div class="title container" style="width: 1200px; height: 50px;">
  <section class="builder-link">
    <strong> Total Asset Value <br> out of $9.8T </strong>
  </section>
  <a href="/" style="display: block; width: 15%;"><img src="../static/images/logo.png" alt="Logo for RDCEP" style="width: 93px; height: 40px;"></a>
  <section class="headline" id=asset-totals>
    $0.00
  </section>
  <section class="headline headline2">
    <a href=http://geosci.uchicago.edu/~moyer/Inventory/Chin_etal_EnergyInventory_2020.pdf>
      <i>A Physical Inventory of the U.S. Energy System</i></a>
      <br>
    Chen, Weisbach, Matteson,
    Brizius, Moyer. (2020)
  </section>
  <section class="headline headline3">
    University of Chicago. Center for Robust <br>
    Decision-making on Climate and Energy Policy.
  </section>
</div>
<!--/ Map Builder UI -->
{% endblock %}
{% block main %}
<div class="map wrapper">
  <div class="main map builder">
    <div id="spinner">
      <img src="../static/images/Rolling-1s-200px.gif" alt="loading" loading="lazy"/>
    </div>
  </div>
  <div class="map layer legend"></div>
  <div class="map composite"></div>

  <p id="builder-headline">Create a custom map of 2012 U.S.
    energy infrastructure:</p>

  <div class="options cf">
    <!-- Checkboxes render here -->
  </div>
  <p id="browser-notice">Note: this application is not compatible with
    all browsers at present; we suggest using Chrome.</p>
</div>
  <!-- Layer divs render here -->
<div class=modal-screen></div>
    <div class="about-window modal-window">
      <a href=# class=modal-close>[close]</a>

      <h4>About.</h4>

      <p>At a time when many people propose transforming the U.S.
        energy system, it is useful to understand its scale.  The U.S.
        Energy Infrastructure Visualization project documents all
        long-lived infrastructure (> 20 years service life) associated
        with extracting, processing, transporting, and using energy
        in the U.S.</p>
      <p>The energy system that delivers power to U.S. residents now
        consists of nearly $10 trillion in long-lived infrastructure,
        of which over $6 T is exclusive to fossil fuels. (Values are
        replacement costs as 2012 dollars and prices). This system was
        built up over the past hundred years and many components are
        very old: the mean age of U.S. pipelines, for example, is
        over 30 years.</p>
      <p>See link in header for a detailed description of the complete
        inventory, including documentation on data sources,
        validation, and comparison to estimates of depreciated
        value (~50% of replacement value).</p>
      <p>The project is conducted by members of the University of
        Chicago’s Center for Robust Decision-making on Climate and
        Energy Policy (RDCEP), under the direction of Assoc. Professor
        Liz Moyer, Dept. of the Geophysical Sciences. The research
        lead on the project is Hsin-Yi Chen, U. Hawaii Dept. of
        Electrical Engineering. Graphics were built by Nathan Matteson
        and Benjamin Kleeman, DePaul University College of Computing
        and Digital Media. This application is in beta (please be
        patient). A paper describing the inventory is in preparation
        for submission to Proceedings of the National Academy of
        Sciences; the current release can be cited as Chen, Weisbach,
        Matteson, Brizius, and Moyer (2020), “A Physical Inventory
        of the U.S. Energy System.”</p>

      <h4>Contact.</h4>

      <p>We welcome comments and suggestions. Please send send feedback
        on the website to Nathan Matteson (nmatteso@depaul.edu) and on
        the inventory itself to Liz Moyer ( moyer@uchicago.edu). We
        would especially welcome input from energy experts on individual
        sections of the documentation.</p>

      <h4>License.</h4>

      <p>This code will be released at <a href=github.com/rdcep>github.com/rdcep</a>
        as soon as the first stable version is complete, and will be
        licensed for public use under the Apache License, Version 2.0.</p>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}
{% block bodyjs %}

<script>
  let SCALE = {{ scale }};
</script>

{% assets 'js_d3' %}

<script src="{{ ASSET_URL }}"></script>

{% endassets %}

<script src="https://unpkg.com/topojson-client@3"></script>

{% assets 'js_builderfucker' %}

<script src="{{ ASSET_URL }}"></script>

{% endassets %}

<script>
  function download() {
    let download = document.getElementById("download");
    let image = document
      .getElementById("mapcanvas")
      .toDataURL("image/png")
      .replace("image/png", "image/octet-stream");
    download.setAttribute("href", image);
  }
</script>

{% endblock %}
