{% extends 'base.html' %} {% block header %}

<div class="title container" style="width: 1200px; height: 50px;">
    <section class="builder-link">
      <strong> Custom Map <br> Builder </strong>
    </section>
    <a href="/"><img src="../static/images/logo.png" alt="Logo for RDCEP" style="width: 93px; height: 40px;"></a>
    <section class="headline">
      <i>A Physical Inventory <br>of the U.S. Energy System</i>
    </section>
    <section class="headline headline2">
      Chen, Weisbach, Matteson, <br>
      Brizius, Moyer, 2019
    </section>
    <section class="headline headline3">
      University of Chicago. Center for Robust <br>
      Decision-making on Climate and Energy Policy.
    </section>
  </div>

<!-- Map Builder UI -->
<div id="asset-totals">
  <div><p>Asset Totals: $0.00 of $10.5 T shown.</p></div>
  
</div>
<!--/ Map Builder UI -->

{% endblock %} {% block main %}

<div class="map wrapper">
  <div class="main map builder">
    <div id="spinner" style="display: none;">
      <img id="spinner" src="../static/images/spinner.gif" alt="loading" />
    </div>
  </div>
  <div class="map composite"></div>
    <p id="builder-headline">Create a custom map of 2012 U.S. energy infrastructure:</p>
  <div class="options">
    <!-- Checkboxes render here -->
  </div>
  
  <!-- Layer divs render here -->
  <footer>
    <img class="master-legend" src="../static/images/infrastructure-map-legend-md.png"/>
    <div>
      <div>
        <p id="browser-notice">Note: this application is not compatible with all browsers at present; we suggest using Chrome.</p>
      </div>
      <span>
        <a id="download" download="custom-map.png">
          <button type="button" onClick="download()">Download</button>
        </a>
      </span>
    </div>
  </footer>
</div>

{% endblock %} {% block bodyjs %}

<script>
  let SCALE = {{ scale }};
</script>

{% assets 'js_d3' %}

<script src="{{ ASSET_URL }}"></script>

{% endassets %}

{% assets 'js_numeral' %}

<script src="{{ ASSET_URL }}"></script>

{% endassets %}

<script src="https://unpkg.com/topojson-client@3"></script>

{% assets 'js_bigfucker' %}

<script src="{{ ASSET_URL }}"></script>

{% endassets %}

<script>
  function download() {
    let download = document.getElementById("download");
    let image = document
      .getElementById("mapcanvas")
      .toDataURL("image/png")
      .replace("image/png", "image/octet-stream");
    download.setAttribute("href", image);
  }
</script>

{% endblock %}
