{% extends 'base.html' %}
{% block header %}
  <div class=content-wrap>

    <div class="title container cf">
      <div class=bkgd></div>
      <div class="shim cf">

        <section class=site-title>
          <h1 class="span-title">
            <span class=page-title>US Energy Infrastructure</span>
              <a href="/" style="display: block;" class=site-logo>
              <img src="../static/images/rdcep_logo.png" alt="Logo for RDCEP">
            </a>
            <span class=graph-title>
              <span id=asset-totals>$0.00</span>
              <span>total asset value</span>
              <span>out of $9.8T</span>
            </span>
          </h1>
          <div>
            <span class=citation>
              <a href=http://geosci.uchicago.edu/~moyer/Inventory/Chin_etal_EnergyInventory_2020.pdf>
                <em>A Physical Inventory of the U.S. Energy System</em></a>.
                Chen, Weisbach, Matteson, Brizius, Moyer, 2020.
            </span>
            <span class=site-links>
              <a class=about-contact
              href=#>About</a>
              <a class=about-contact
              href=#>Contact</a>
              <a class=about-contact
              href=#>License</a>
            </span>
            </div>
        </section>
      </div>

    </div>
    
  </div>
{% endblock %}
<!--/ Map Builder UI -->
{% block main %}
  <div class="map wrapper">
    <div class="main map builder">
      <!-- Layer divs render here -->
      <div class="map layer base-map"></div>
      <div id="spinner">
        <img src="../static/images/Rolling-1s-200px.gif" alt="loading" loading="lazy"/>
      </div>
    </div>
    <div class="map layer zoom-target"></div>
    <div class="legend window main menu" hidden="true">
      <h6>Legend</h6>
      <span class="legend toggle close"></span>
      <div class="legend bkgd"></div>

      <div class="legend canvas">
        <div class="legend bkgd"></div>
      </div>
      <div class="legend tmpcanvas"></div>
    </div>
    </div>

    <!-- <div class="map composite"></div> -->
  </div>

  <div class=content-wrap>

    <div class="options window main menu cf">
      <div class="options bkgd"></div>
      <h6>Map options</h6>
      <span class="legend toggle close"></span>
      <div class="options canvas cf">
        <div class="bkgd"></div>
        <!-- Checkboxes render here -->
      </div>
      <div class=zoom-buttons>
        <div class=bkgd></div>
        <span class=zoom-in>+</span>
        <span class=zoom-out>–</span>
      </div>
    </div>
    
    <div class=modal-screen></div>
    <div class="about-window modal-window">
      <a href=# class=modal-close>[close]</a>

      <h4>About.</h4>

      <p>At a time when many people propose transforming the U.S.
        energy system, it is useful to understand its scale.  The U.S.
        Energy Infrastructure Visualization project documents all
        long-lived infrastructure (> 20 years service life) associated
        with extracting, processing, transporting, and using energy
        in the U.S.</p>
      <p>The energy system that delivers power to U.S. residents now
        consists of nearly $10 trillion in long-lived infrastructure,
        of which over $6 T is exclusive to fossil fuels. (Values are
        replacement costs as 2012 dollars and prices). This system was
        built up over the past hundred years and many components are
        very old: the mean age of U.S. pipelines, for example, is
        over 30 years.</p>
      <p>See link in header for a detailed description of the complete
        inventory, including documentation on data sources,
        validation, and comparison to estimates of depreciated
        value (~50% of replacement value).</p>
      <p>The project is conducted by members of the University of
        Chicago’s Center for Robust Decision-making on Climate and
        Energy Policy (RDCEP), under the direction of Assoc. Professor
        Liz Moyer, Dept. of the Geophysical Sciences. The research
        lead on the project is Hsin-Yi Chen, U. Hawaii Dept. of
        Electrical Engineering. Graphics were built by Nathan Matteson
        and Benjamin Kleeman, DePaul University College of Computing
        and Digital Media. This application is in beta (please be
        patient). A paper describing the inventory is in preparation
        for submission to Proceedings of the National Academy of
        Sciences; the current release can be cited as Chen, Weisbach,
        Matteson, Brizius, and Moyer (2020), “A Physical Inventory
        of the U.S. Energy System.”</p>

      <h4>Contact.</h4>

      <p>We welcome comments and suggestions. Please send send feedback
        on the website to Nathan Matteson (nmatteso@depaul.edu) and on
        the inventory itself to Liz Moyer ( moyer@uchicago.edu). We
        would especially welcome input from energy experts on individual
        sections of the documentation.</p>

      <h4>License.</h4>

      <p>This code will be released at <a href=github.com/rdcep>github.com/rdcep</a>
        as soon as the first stable version is complete, and will be
        licensed for public use under the Apache License, Version 2.0.</p>
    </div>

  </div>
{% endblock %}

{% block bodyjs %}

<script>
  let SCALE = {{ scale }};
</script>

{% assets 'js_underscore' %}

<script src="{{ ASSET_URL }}"></script>

{% endassets %}

{% assets 'js_d3' %}

<script src="{{ ASSET_URL }}"></script>

{% endassets %}

<script src="https://unpkg.com/topojson-client@3"></script>

{% assets 'js_builderfucker' %}

<script defer src="{{ ASSET_URL }}"></script>

{% endassets %}

<script>
  function download() {
    let download = document.getElementById("download");
    let image = document
      .getElementById("mapcanvas")
      .toDataURL("image/png")
      .replace("image/png", "image/octet-stream");
    download.setAttribute("href", image);
  }
</script>

{% endblock %}
