{% extends 'base.html' %}

{% block main %}
  <div class="main map coal"></div>
  <a id=download download=coal.png>
    <button type=button onClick=download()>Download</button>
  </a>
{% endblock %}

{% block bodyjs %}

  <script>
    let SCALE = {{ scale }};
  </script>

  {% assets 'js_d3' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
  <script src="https://unpkg.com/topojson-client@3"></script>
  {% assets 'js_coal' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}

  <script>
  function download() {
    let download = document.getElementById('download');
    let image = document.getElementById('mapcanvas')
      .toDataURL('image/png')
      .replace('image/png', 'image/octet-stream');
    download.setAttribute('href', image);
  }
  </script>

{% endblock %}
