{% extends 'base.html' %}

{% block header %}
  <img src="../static/images/rdcep_logo.png" alt="RDCEP logo"/>
  <h1>
    US Energy<br/>Infrastructure
  </h1>
  <h2>
    <span class=asset-total>$0</span>
    <span class="asset-total-tag">
      total asset value<br>
      <span id="value-year">out of $9.8T in 2012</span>
    </span>
  </h2>
{% endblock %}

{% block main %}
  <div class="main-map">
    <!-- Layer divs render here -->
    <div class="base-map"></div>
    <div id="spinner">
      <img src="../static/images/Rolling-1s-200px.gif" alt="loading" loading="lazy"/>
    </div>
  </div>

  <div class="map layer zoom-target"></div>

  <dialog class="options">
    <div class="container">
      <section>
        <h6>Source</h6>
        <p>A Physical Inventory of the U.S. Energy System.
          Chen, Weisbach, Matteson, Brizius, Moyer, 2020.</p>
      </section>
      <section class=options-list>
        <h6>Map options</h6>
        <ul uk-sortable data-handle=".uk-sortable-handle">
{#        <ul uk-sortable data-handle=".uk-sortable-handle" data-cls-drag="dragging">#}
          <!-- Checkboxes render here -->
        </ul>
      </section>
    </div>
    <div class=zoom>
      <span class=zoom-in>+</span>
      <span class=zoom-out>–</span>
    </div>

  </dialog>

  <details class="">
    <summary>Legend</summary>
    <div class="legend canvas"></div>
    <div class="legend tmpcanvas"></div>
  </details>

{% endblock %}

{% block bodyjs %}

<script>

  {#let SCALE = {{ scale }};#}
  let SCALE = 1;

  const VIZ = {
    white: 'rgba(255, 255, 255, 1)',
    black: 'rgba(0, 0, 0, 1)',
    coal: 'rgba(0, 0, 0)',
    map: {
      fill: '#dddddd',
      stroke: '#767676',
      ocean: '#ffffff',
      width: SCALE
    }
  };

  let WIDTH = window.innerWidth;
  console.log(WIDTH);
  let HEIGHT = window.innerHeight;
  let TRANSFORM = {x:0, y:0, k:1};

  let DATA_YEAR = 2012;
  let API_URL_PREFIX = `http://127.0.0.1:5000/api/v0.1.0/infrastructure/${DATA_YEAR}`

  let LAYERS = [];
  let ACTIVE_LAYERS = [];

  const TEXT_OFFSET = 30 * SCALE;
  const LEGEND_FONT_SIZE = 14 * SCALE;
  const LEGEND_FONT = `bold ${LEGEND_FONT_SIZE}px Inter`;
  const VERTICAL_INCREMENT = 15 * SCALE;
  const VERTICAL_TYPE_INCREMENT = 5 * SCALE;

  let EnergyMaps = {};

</script>

{% assets 'js_underscore' %}

<script src="{{ ASSET_URL }}"></script>

{% endassets %}

{% assets 'js_d3' %}

<script src="{{ ASSET_URL }}"></script>

{% endassets %}

<script src="https://unpkg.com/topojson-client@3"></script>

{% assets 'js_builderfucker' %}

<script defer src="{{ ASSET_URL }}"></script>

{% endassets %}

<script>
  function download() {
    let download = document.getElementById("download");
    let image = document
      .getElementById("mapcanvas")
      .toDataURL("image/png")
      .replace("image/png", "image/octet-stream");
    download.setAttribute("href", image);
  }
</script>

{% endblock %}
